{% extends "template.html" %}
{% block content %}

<!-- Content -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">jQuery(function($) {
	$.noConflict();
    $( "#effective_from" ).datepicker({ dateFormat: 'yy-mm-dd' });
    $( "#effective_to" ).datepicker({ dateFormat: 'yy-mm-dd' });
    $( "[name='inactive_date']" ).each(function(){$(this).datepicker({ dateFormat: 'yy-mm-dd' });});
});
</script>
        <div class="content">
            <div class="animated fadeIn">
            	<form id="customer-add-form" class="form-horizontal">
                	<div class="row">
                    	<div class="col-lg-12">
                        	<div class="card">
                            	<div class="card-header" id="card-header">
                                	<strong>Customer Order Details</strong>
                            	</div>
                            	<div class="card-body card-block">                                    
                                    <div class="row form-group">
                                        <div class="col col-md-2"><label for="text-input" class=" form-control-label">Customer Code</label></div>
                                        <div class="col-12 col-md-2"><input type="text" id="customer_code" name="{{ data['details']["customer_id"] }}" class="form-control"/></div>
                                        <div class="col col-md-2"><label for="text-input" class=" form-control-label">Customer Name</label></div>
                                        <div class="col col-md-2"><input type="text" id="customer_name" name="text-input" class="form-control"/></div>
                                        <div class="col col-md-2"><label for="text-input" class="form-control-label">Customer Type</label></div>
                                        <div class="col-12 col-md-2"><select id="customer_type" class="form-control-sm form-control">
                                        	{% for s_type in data['customer_code'] %}
                                                <option value="{{s_type['lookup_code']}}" >{{ s_type['meaning'] }}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                    	<div class="col col-md-2"><label for="text-input" class=" form-control-label">Description</label></div>
                                        <div class="col-12 col-md-2"><input type="text" id="description" name="text-input" class="form-control"/></div>
                                        <div class="col col-md-2"><label for="text-input" class=" form-control-label" for="effective_from">Effective From</label></div>
                                        <div class="col col-md-2 input-group">
						                    <input type="text" class="form-control" id="effective_from" >
						                    <div class="input-group-append" data-target="#effective_from">
						                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
						                    </div>
						                </div>
                                        <div class="col col-md-2"><label for="text-input" class=" form-control-label">Enabled</label></div>
                                        <div class="col-12 col-md-2"><div class="form-check-inline form-check">
                                                <label for="enabled" class="form-check-label ">
                                                		<input type="checkbox" id="enabled" name="enabled" value="enabled" class="form-check-input">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-2"><label for="customer" class="form-control-label">Remarks</label></div>
                                        <div class="col-12 col-md-2"><input type="text" id="remarks" name="text-input" class="form-control"/></div>
                                        <div class="col col-md-2"><label for="text-input" class=" form-control-label" for="effective_to">Effective To</label></div>
                                        <div class="col col-md-2 input-group">
						                    <input type="text" class="form-control" id="effective_to" >
						                    <div class="input-group-append" data-target="#effective_to">
						                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
						                    </div>
						                </div>
                                    </div>
                            	</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    	<div class="col-lg-12">
                        	<div class="card">
	                            <div class="card-header">
	                            	<div class="row form-group">
		                                <strong class="col col-md-6">Purchase Line Details</strong>
		                                <div class="col col-md-6" align="right">
		                                	<button type="button" class="btn btn-success" onclick="addRow();"><i class="fa fa-plus"></i>&nbsp; Add New Line</button>
		                                </div>
		                            </div>
	                            </div>
	                            <div class="card-body card-block">                                   
	                                    <div class="row form-group">
	                                    	<table class="table table-striped" id="customer_site_add_table">
			                                    <thead>
			                                        <tr>
			                                          <th scope="col">Customer Site Code</th>
			                                          <th scope="col">Address</th>
			                                          <th scope="col">Phone Number 1</th>
			                                          <th scope="col">Phone Number 2</th>
								  					  <th scope="col">Email</th>
			                                      	</tr>
			                                  </thead>
			                                  <tbody>
			                                  </tbody>
			                            	</table>
	                                    </div>
	                                    <div class="row form-group">
	                                        <div class="col col-md-6"><center><button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i>&nbsp; Save</button></center></div>
	                                        <div class="col col-md-6"><center><a href="/customer"><button type="button" class="btn btn-danger"><i class="fa fa-times"></i>&nbsp; Cancel</button></a></center></div>
	                                	</div>
	                            	</div>
                        	</div>
                    	</div>
            		</div>
				</form>
        	</div><!-- .animated -->
    	</div><!-- .content -->

<script>
	function addRow () {
        var myTable = document.getElementById("customer_site_add_table");
        var currentIndex = myTable.rows.length;
        var currentRow = myTable.insertRow(currentIndex);        

        var site_code = document.createElement("input");
        site_code.setAttribute("type", "text");
        site_code.setAttribute("id", "site_code");
        site_code.setAttribute("class", "form-control");

        var site_address = document.createElement("input");
        site_address.setAttribute("type", "text");
        site_address.setAttribute("id", "site_address");
        site_address.setAttribute("class", "form-control");

        var phone_1 = document.createElement("input");
        phone_1.setAttribute("type", "text");
        phone_1.setAttribute("id", "phone_1");
        phone_1.setAttribute("class", "form-control");
        
        var phone_2 = document.createElement("input");
        phone_2.setAttribute("type", "text");
        phone_2.setAttribute("id", "phone_2");
        phone_2.setAttribute("class", "form-control");
        
        var email = document.createElement("input");
        email.setAttribute("type", "text");
        email.setAttribute("id", "email");
        email.setAttribute("class", "form-control");

        var currentCell = currentRow.insertCell(0);
        currentCell.appendChild(site_code);
        
        var currentCell = currentRow.insertCell(1);
        currentCell.appendChild(site_address);
        
        var currentCell = currentRow.insertCell(2);
        currentCell.appendChild(phone_1);
        
        var currentCell = currentRow.insertCell(3);
        currentCell.appendChild(phone_2);
        
        var currentCell = currentRow.insertCell(4);
        currentCell.appendChild(email);
    }
</script>

{% endblock %}
