{% extends "template.html" %}
{% block content %}

<!-- Content -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
        <div class="content">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Supplier Details</strong>
                            </div>
                            <div class="card-body card-block">
                            	<div class="row form-group">
                                        <div class="col-12 col-md-2"><label class=" form-control-label">Supplier Code</label></div>
                                        <div class="col-12 col-md-2">
                                            <p class="form-control-static">{{ data['details']["supplier_code"] }}</p>
                                        </div>
                                        <div class="co-12l col-md-2"><label class=" form-control-label">Supplier Name</label></div>
                                        <div class="col-12 col-md-2">
                                            <p class="form-control-static">{{ data['details']["supplier_name"] }}</p>
                                        </div>
                                        <div class="col-12 col-md-2"><label class=" form-control-label">Supplier Type</label></div>
                                        <div class="col-12 col-md-2">
                                            <p class="form-control-static">{% for s_type in data['supplier_code'] %}
                                        					{% if data['details']['supplier_code'] == s_type['lookup_code'] %}
                                        					{{ s_type['meaning'] }}</p>
                                        </div>
                                </div>
                            	<div class="row form-group">
                                        <div class="col-12 col-md-2"><label class=" form-control-label">Description</label></div>
                                        <div class="col-12 col-md-2">
                                            <p class="form-control-static">{{ data['details']["description"] }}</p>
                                        </div>
                                        <div class="col-12 col-md-2"><label class=" form-control-label">Effective From</label></div>
                                        <div class="col-12 col-md-2">
                                            <p class="form-control-static">{{ data['details']["effective_from"] }}</p>
                                        </div>
                                        <div class="col-12 col-md-2"><label class=" form-control-label">Enabled</label></div>
                                        <div class="col-12 col-md-2">
                                            <p class="form-control-static">data['details']["enabled_flag"]</p>
                                        </div>
                                </div>
                            	<div class="row form-group">
                                        <div class="col-12 col-md-2"><label class=" form-control-label">Remarks</label></div>
                                        <div class="col-12 col-md-2">
                                            <p class="form-control-static">{{ data['details']['remarks'] }}</p>
                                		</div>
                                		<div class="col-12 col-md-2"><label class=" form-control-label">Effective To</label></div>
                                        <div class="col-12 col-md-2">
                                            <p class="form-control-static">{{ data['details']["effective_to"] }}</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
		        </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                            	<div class="row form-group">
                                	<strong class="card-title">Supplier Site Details</strong>
		                                <table class="table table-striped" id="line_table">
		                                    <thead>
		                                        <tr>
		                                          <th scope="col">Supplier Site Code</th>
			                                          <th scope="col">Address</th>
			                                          <th scope="col">Phone Number 1</th>
			                                          <th scope="col">Phone Number 2</th>
								  					  <th scope="col">Email</th>
			                                          <th scope="col">Inactive Date</th>
		                                      	</tr>
		                                  </thead>
		                                  <tbody>
		                                  {% for row in data["details"]["supplier_master_sites"] %}
		                                  	<tr>
		                                  		<th scope="row">{{ row["supplier_site_code"] }}</th>
		                                  		<td>{ row["supplier_site_address"] }}</td>
		                                  		<td>{{ row["phone_number1"] }}</td>
		                                  		<td>{{ row["phone_number2"] }}</td>
		                                  		<td>{{ row["email"] }}</td>
		                                  		<td>{{ row["inactive_date"] }}</td>
		                                  	</tr>
		                                {% endfor %}
		                                </tbody>
		                            </table>
		                        </div>
		                       <div class="row">
			                    <div class="col-lg-12">
				                            <div class="row form-group">
						                        <div class="col col-md-4"><center><a href="/supplier/"><button type="button" class="btn btn-primary"><i class="fa fa-arrow-left"></i>&nbsp; Back </button></a></center></div>
					                		</div>
				                		
			                	</div>
			        		</div>	
                        </div>
                    </div>
                </div>
        	</div>
    </div><!-- .animated -->
</div><!-- .content -->
        
{% endblock %}
