{% extends "template.html" %}
{% block content %}
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="{{ static('images/logo.png') }}" alt="">
                    </a>
                </div>s
                <div class="login-form">
                    <form id="login-form" action="/login/" method="post">
                        <div class="form-group">
                            <label>User name</label>
                            <input name="username" type="text" class="form-control" placeholder="User name">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input name="password" type="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember Me
                            </label>
                            <label class="pull-right">
                                <a href="#">Wrong Username Password!!</a>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
