{% extends "template.html" %}
{% block content %}

<!-- Content -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
        <div class="content">
            <div class="animated fadeIn">
            	<form id="purchase-add-form" class="form-horizontal">
                	<div class="row">
                    	<div class="col-lg-12">
                        	<div class="card">
                            	<div class="card-header" id="card-header">
                                	<strong>Purchase Order Details</strong>
                            	</div>
                            	<div class="card-body card-block">                                    
                                    <div class="row form-group">
                                        <div class="col col-md-2"><label for="text-input" class=" form-control-label">Status</label></div>
                                        <div class="col-12 col-md-2"><p id="header_status" class="form-control-static">Booked</p></div>
                                        <div class="col col-md-2"><label for="text-input" class=" form-control-label">Weighting Number</label></div>
                                        <div class="col-12 col-md-2"><input type="text" id="weighing_number" name="text-input" class="form-control"/></div>
                                        <div class="col col-md-2"><label for="text-input" class="form-control-label">Supplier</label></div>
                                        <div class="col-12 col-md-2"><select name="supplier" id="supplier" class="form-control-sm form-control">
                                        	{% for supplier in data['supplier_list'] %}
                                                <option value="{{ supplier['supplier_id'] }}">{{ supplier['supplier_name'] }}</option>
                                            {% endfor %}
                                            </select>
                                    	</div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-2"><label for="text-input" class=" form-control-label" for="transaction_date">Transaction Date</label></div>
                                        <div class="col col-md-2 input-group">
						                    <input type="text" class="form-control" id="transaction_date" nam="transaction_date"/>
						                    <div class="input-group-append" data-target="#transaction_date">
						                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
						                    </div>
						                </div>
                                        <div class="col col-md-2"><label for="text-input" class=" form-control-label">Amount</label></div>
                                        <div class="col-12 col-md-2"><input type="text" id="amount" name="text-input" class="form-control"/></div>
                                        <div class="col col-md-2"><label for="text-input" class=" form-control-label">Buyer</label></div>
                                        <div class="col-12 col-md-2"><p class="form-control-static" id="buyer">{{ data['user'] }}</p></div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-2"><label for="text-input" class=" form-control-label">Order Type</label></div>
                                        <div class="col-12 col-md-2"><select name="order_type" id="order_type" class="form-control-sm form-control">
                                        	{% for type in data['po_type'] %}
                                                <option value="{{ type['lookup_code'] }}">{{ type['meaning'] }}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col col-md-2"><label for="text-input" class=" form-control-label">Vehicle Number</label></div>
                                        <div class="col-12 col-md-2"><input type="text" id="vehicle_number" name="text-input" class="form-control"></input></div>
                                        <div class="col col-md-2"><label for="text-input" class=" form-control-label">Transaction Number</label></div>
                                        <div class="col-12 col-md-2"><input type="text" id="purchase_trx_number" name="text-input" class="form-control"/></div>
                                    </div>
                            	</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    	<div class="col-lg-12">
                        	<div class="card">
	                            <div class="card-header">
	                            	<div class="row form-group">
		                                <strong class="col col-md-6">Purchase Line Details</strong>
		                                <div class="col col-md-6" align="right">
		                                	<button type="button" class="btn btn-success" onclick="addRow();"><i class="fa fa-plus"></i>&nbsp; Add New Line</button>
		                                </div>
		                            </div>
	                            </div>
	                            <div class="card-body card-block">                                   
	                                    <div class="row form-group">
	                                    	<table class="table table-striped" id="purchase_line_add_table">
			                                    <thead>
			                                        <tr>
			                                          <th scope="col">#</th>
			                                          <th scope="col">Item</th>
			                                          <th scope="col">Item Description</th>
			                                          <th scope="col">Status</th>
			                                          <th scope="col">Booking Unit Price</th>
								  					  <th scope="col">Booking Unit Quantity</th>
			                                          <th scope="col">Discount</th>
			                                          <th scope="col">Receipt Unit Price</th>
								  					  <th scope="col">Receipt Unit Quantity</th>
			                                          <th scope="col">Unit</th>
			                                      	</tr>
			                                  </thead>
			                                  <tbody>
			                                  	
			                                  </tbody>
			                            	</table>
	                                    </div>
	                                    <div class="row form-group">
	                                        <div class="col col-md-6"><center><button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i>&nbsp; Save</button></center></div>
	                                        <div class="col col-md-6"><center><a href="/purchase"><button type="button" class="btn btn-danger"><i class="fa fa-times"></i>&nbsp; Cancel</button></a></center></div>
	                                	</div>
	                            	</div>
                        	</div>
                    	</div>
            		</div>
				</form>
        	</div><!-- .animated -->
    	</div><!-- .content -->

<script>
	function addRow () {
        var myTable = document.getElementById("purchase_line_add_table");
        var currentIndex = myTable.rows.length;
        var currentRow = myTable.insertRow(currentIndex);

        var lineNumber = document.createElement("strong");
        lineNumber.innerHTML = currentIndex;

        var item = document.createElement("select");
        item.setAttribute("id", "item");
        item.setAttribute("class", "form-control");
        {% for itm in data['item_list'] %}
        	var option = document.createElement("option");
	        option.value = "{{itm['item_id']}}";
	        option.text = "{{itm['description']}}";
	        item.appendChild(option);
        {% endfor %}

        var itemDescription = document.createElement("input");
        itemDescription.setAttribute("type", "text");
        itemDescription.setAttribute("id", "itemDescription");
        itemDescription.setAttribute("class", "form-control");

        var lineStatus = document.createElement("label");
        lineStatus.innerHTML = "Received";

        var bookingUnitPrice = document.createElement("input");
        bookingUnitPrice.setAttribute("type", "text");
        bookingUnitPrice.setAttribute("id", "bookingUnitPrice");
        bookingUnitPrice.setAttribute("class", "form-control");
        
        var bookingQuantity = document.createElement("input");
        bookingQuantity.setAttribute("type", "text");
        bookingQuantity.setAttribute("id", "bookingQuantity");
        bookingQuantity.setAttribute("class", "form-control");
        
        var discount = document.createElement("input");
        discount.setAttribute("type", "text");
        discount.setAttribute("id", "discount");
        discount.setAttribute("class", "form-control");
        
        var receiptUnitPrice = document.createElement("input");
        receiptUnitPrice.setAttribute("type", "text");
        receiptUnitPrice.setAttribute("id", "receiptUnitPrice");
        receiptUnitPrice.setAttribute("class", "form-control");
        
        var receiptQuantity = document.createElement("input");
        receiptQuantity.setAttribute("type", "text");
        receiptQuantity.setAttribute("id", "receiptQuantity");
        receiptQuantity.setAttribute("class", "form-control");
        
        var unitOfMeasure = document.createElement("select");
        unitOfMeasure.setAttribute("id", "unitOfMeasure");
        unitOfMeasure.setAttribute("class", "form-control");
        {% for um in data['uom'] %}
        	var option = document.createElement("option");
	        option.value = "{{um['lookup_code']}}";
	        option.text = "{{um['meaning']}}";
	        unitOfMeasure.appendChild(option);
        {% endfor %}

        var currentCell = currentRow.insertCell(0);
        currentCell.appendChild(lineNumber);

        var currentCell = currentRow.insertCell(1);
        currentCell.appendChild(item);
        
        var currentCell = currentRow.insertCell(2);
        currentCell.appendChild(itemDescription);
        
        var currentCell = currentRow.insertCell(3);
        currentCell.appendChild(lineStatus);
        
        var currentCell = currentRow.insertCell(4);
        currentCell.appendChild(bookingUnitPrice);
        
        var currentCell = currentRow.insertCell(5);
        currentCell.appendChild(bookingQuantity);
        
        var currentCell = currentRow.insertCell(6);
        currentCell.appendChild(discount);
        
        var currentCell = currentRow.insertCell(7);
        currentCell.appendChild(receiptUnitPrice);
        
        var currentCell = currentRow.insertCell(8);
        currentCell.appendChild(receiptQuantity);
        
        var currentCell = currentRow.insertCell(9);
        currentCell.appendChild(unitOfMeasure);
        
    }
</script>

{% endblock %}
