{% extends "template.html" %}
{% block content %}

<!-- Content -->
<link rel="stylesheet" href="{{ static('assets/css/lib/datatable/dataTables.bootstrap.min.css') }}">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
        <div class="content">
        <!-- table -->
        <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Purchase Records</strong>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Transaction Number</th>
                                            <th>Amount</th>
                                            <th>Status</th>
                                            <th>Type</th>
                                            <th>Weighting Number</th>
                                        </tr>
                                    </thead>
                                    
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        <!-- table -->
        </div>
    <script src="{{ static('assets/js/lib/data-table/datatables.min.js') }}"></script>
    <script src="{{ static('assets/js/lib/data-table/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ static('assets/js/lib/data-table/dataTables.buttons.min.js') }}"></script>
    <script src="{{ static('assets/js/lib/data-table/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ static('assets/js/lib/data-table/jszip.min.js') }}"></script>
    <script src="{{ static('assets/js/lib/data-table/vfs_fonts.js') }}"></script>
    <script src="{{ static('assets/js/lib/data-table/buttons.html5.min.js') }}"></script>
    <script src="{{ static('assets/js/lib/data-table/buttons.print.min.js') }}"></script>
    <script src="{{ static('assets/js/lib/data-table/buttons.colVis.min.js') }}"></script>
    <script src="{{ static('assets/js/init/datatables-init.js') }}"></script>


    <script type="text/javascript">
        $('#bootstrap-data-table').DataTable( {
          				'bDestroy': true,
                        'data':  {{ data }},
                        'columns': [
							            { 'data': 'purchase_trx_number' },
							            { 'data': 'amount' },
							            { 'data': 'order_status' },
							            { 'data': 'order_type' },
							            { 'data': 'weighting_number' }
							        ]
                    	} );
  </script>
<!-- /.content -->
        
{% endblock %}
