{% extends "template.html" %}
{% block content %}

<!-- Content -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>$(function() {
    $( "#challan_date" ).datepicker({ dateFormat: 'yy-mm-dd' });
});
</script>
        <div class="content">
            <div class="animated fadeIn">
            	<form id="purchase-receipt-update-form" class="form-horizontal">
                	<div class="row">
                    	<div class="col-lg-12">
                        	<div class="card">
                            	<div class="card-header" id="card-header">
                            		
                                	<strong id="purchase_receipt" name="{{ data['transaction_number'] }}">Purchase Receipt</strong>
                            	</div>
                            	<div class="card-body card-block">                                    
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Truck Number</label></div>
                                        <div class="col-12 col-md-3"><input type="text" id="truck_numer" class="form-control" {% if data['details']['vehicle_number'] %} value="{{ data['details']['vehicle_number'] }}" {% endif %}></input></div>
                                        <div class="col col-md-3"><label for="text-input" class="form-control-label">Challan Numer</label></div>
                                        <div class="col-12 col-md-3"><p id="chalan_number" class="form-control-static">{{ data['details']['challan_number'] }}</p></div>
                                    	<div class="col col-md-3"><label for="text-input" class=" form-control-label" for="challan_date">Chalan Date</label></div>
                                        <div class="col col-md-3 input-group">
						                    <input type="text" class="form-control" id="challan_date" {% if data['details']['vehicle_number'] %} value="{{ data['details']['challan_date'] }}" {% endif %}/>
						                    <div class="input-group-append" data-target="#challan_date">
						                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
						                    </div>
						                </div>
						                <div class="col col-md-3"><label for="text-input" class="form-control-label">Status</label></div>
                                        <div class="col-12 col-md-3"><p id="status" class="form-control-static">{{ data['details']['receipt_header_status'] }}</p></div>
                                    </div>
                                    <!-- <div class="row form-group">
                                        <div class="col col-md-2"><label for="text-input" class=" form-control-label">Buyer</label></div>
                                        <div class="col-12 col-md-2"><p class="form-control-static" id="buyer">{{ data['user'] }}</p></div>
                                    </div>
                                    </div> -->
                            	</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    	<div class="col-lg-12">
                        	<div class="card">
	                            <div class="card-header">
	                            	<div class="row form-group">
		                                <strong class="col col-md-6">Receipt Line Details</strong>
		                                <div class="col col-md-6" align="right">
		                                	<button type="button" class="btn btn-success" onclick="addRow();"><i class="fa fa-plus"></i>&nbsp; Add New Line</button>
		                                </div>
		                            </div>
	                            </div>
	                            <div class="card-body card-block">                                   
	                                    <div class="row form-group">
	                                    	<table class="table table-striped" id="purchase_receipt_line_add_table">
			                                    <thead>
			                                        <tr>
			                                          <th scope="col">#</th>
			                                          <th scope="col">Item</th>
			                                          <th scope="col">TR Number</th>
			                                          <th scope="col">Unloading Area</th>
								  					  <th scope="col">Quantity</th>
			                                          <th scope="col">Unit</th>
			                                          <th scope="col">Rate</th>
			                                          <th scope="col">Discount</th>
			                                          <th scope="col">Status</th>
			                                      	</tr>
			                                  </thead>
			                                  <tbody>
			                                  {% if data['details']['receipt_lines'] %} 
			                                  	{% for row in data['details']['receipt_lines'] %}
			                                  	<tr>
				                                  	<td><strong value="{{ row['receipt_line_id'] }}">{{ row['line_number'] }}</strong></td>
				                                  	<td>
					                                  	<select id="item" class="form-control-sm form-control">
				                                        	{% for itm in data['item_list'] %}
				                                        		{% if row['item_id'] == itm['item_id'] %}
				                                                	<option value="{{itm['item_id']}}" selected="">{{ itm['description'] }}</option>
				                                                {% else %}
				                                                	<option value="{{itm['item_id']}}" >{{ itm['description'] }}</option>
				                                                {% endif %}
				                                            {% endfor %}
			                                            </select>
													</td>
				                                  	<td><input type="text" class="form-control" value="{{ row["weighing_number"] }}"></td>
				                                  	<td><input type="text" class="form-control" value="{{ row["load_unload_area"] }}"></td>
				                                  	<td><input type="text" class="form-control" value="{{ row["quantity"] }}"></td>
				                                  	<td>
					                                  	<select id="unitOfMeasure" class="form-control-sm form-control">
				                                        	{% for um in data['uom'] %}
				                                        		{% if row['unit_of_measure'] == um['lookup_code'] %}
				                                                	<option value="{{um['lookup_code']}}" selected="">{{ um['meaning'] }}</option>
				                                                {% else %}
				                                                	<option value="{{um['lookup_code']}}">{{ um['meaning'] }}</option>
				                                                {% endif %}
			                                            	{% endfor %}
			                                            </select>
													</td>
				                                  	<td><input type="text" class="form-control" value="{{ row["unit_price"] }}"></td>
				                                  	<td><input type="text" class="form-control" value="{{ row["discount"] }}"></td>
				                                  	<td>
					                                  	<select id="unitOfMeasure" class="form-control-sm form-control">
				                                        	{% for status in data['po_receipt_statuses'] %}
				                                        		{% if row['receipt_line_status'] == status['lookup_code'] %}
				                                                	<option value="{{status['lookup_code']}}" selected="">{{ status['meaning'] }}</option>
				                                                {% else %}
				                                                	<option value="{{status['lookup_code']}}">{{ status['meaning'] }}</option>
				                                                {% endif %}
			                                            	{% endfor %}
			                                            </select>
													</td>
												</tr>
			                                  	{% endfor %}
			                                  	{% endif %}
			                                  </tbody>
			                            	</table>
	                                    </div>
	                                    <div class="row form-group">
	                                        <div class="col col-md-4"><center><button type="submit" class="btn btn-success"><i class="fa fa-paper-plane"></i>&nbsp; Save</button></center></div>
	                                        <div class="col col-md-4"><center><a href="/purchase/{{ data['transaction_number'] }}"><button type="button" class="btn btn-danger"><i class="fa fa-times"></i>&nbsp; Cancel</button></a></center></div>
	                                        <div class="col col-md-4"><center><a href="/purchase/{{ data['transaction_number'] }}/cancel_receipt/{{ data['details']['challan_number'] }}"><button type="button" class="btn btn-danger"><i class="fa fa-times"></i>&nbsp; Cancel Challan</button></a></center></div>
	                                	</div>
	                            	</div>
                        	</div>
                    	</div>
            		</div>
				</form>
        	</div><!-- .animated -->
    	<!-- .content -->

<script>
	function addRow () {
        var myTable = document.getElementById("purchase_receipt_line_add_table");
        var currentIndex = myTable.rows.length;
        var currentRow = myTable.insertRow(currentIndex);

        var lineNumber = document.createElement("strong");
        lineNumber.innerHTML = currentIndex;

        var item = document.createElement("select");
        item.setAttribute("id", "item");
        item.setAttribute("class", "form-control");
        {% for itm in data['item_list'] %}
        	var option = document.createElement("option");
	        option.value = "{{itm['item_id']}}";
	        option.text = "{{itm['description']}}";
	        item.appendChild(option);
        {% endfor %}
        
        var weighingNumber = document.createElement("input");
        weighingNumber.setAttribute("type", "text");
        weighingNumber.setAttribute("id", "weighingNumber");
        weighingNumber.setAttribute("class", "form-control");

        var unloadingNumber = document.createElement("input");
        unloadingNumber.setAttribute("type", "text");
        unloadingNumber.setAttribute("id", "unloadingArea");
        unloadingNumber.setAttribute("class", "form-control");
        
        var bookingQuantity = document.createElement("input");
        bookingQuantity.setAttribute("type", "text");
        bookingQuantity.setAttribute("id", "bookingQuantity");
        bookingQuantity.setAttribute("class", "form-control");
        
        var unitOfMeasure = document.createElement("select");
        unitOfMeasure.setAttribute("id", "unitOfMeasure");
        unitOfMeasure.setAttribute("class", "form-control");
        {% for um in data['uom'] %}
        	var option = document.createElement("option");
	        option.value = "{{um['lookup_code']}}";
	        option.text = "{{um['meaning']}}";
	        unitOfMeasure.appendChild(option);
        {% endfor %}
        
        var bookingUnitPrice = document.createElement("input");
        bookingUnitPrice.setAttribute("type", "text");
        bookingUnitPrice.setAttribute("id", "bookingUnitPrice");
        bookingUnitPrice.setAttribute("class", "form-control");
        
        var discount = document.createElement("input");
        discount.setAttribute("type", "text");
        discount.setAttribute("id", "discount");
        discount.setAttribute("class", "form-control");
        
        var receiptLineStatus = document.createElement("select");
        receiptLineStatus.setAttribute("id", "receiptLineStatus");
        receiptLineStatus.setAttribute("class", "form-control");
        {% for status in data['po_receipt_statuses'] %}
        	var option = document.createElement("option");
	        option.value = "{{ status['lookup_code'] }}";
	        option.text = "{{ status['meaning'] }}";
	        receiptLineStatus.appendChild(option);
        {% endfor %}
        
        var currentCell = currentRow.insertCell(0);
        currentCell.appendChild(lineNumber);

        var currentCell = currentRow.insertCell(1);
        currentCell.appendChild(item);
        
        var currentCell = currentRow.insertCell(2);
        currentCell.appendChild(weighingNumber);
        
        var currentCell = currentRow.insertCell(3);
        currentCell.appendChild(unloadingNumber);
        
        var currentCell = currentRow.insertCell(4);
        currentCell.appendChild(bookingQuantity);
        
        var currentCell = currentRow.insertCell(5);
        currentCell.appendChild(unitOfMeasure);
        
        var currentCell = currentRow.insertCell(6);
        currentCell.appendChild(bookingUnitPrice);
        
        var currentCell = currentRow.insertCell(7);
        currentCell.appendChild(discount);
        
        var currentCell = currentRow.insertCell(8);
        currentCell.appendChild(receiptLineStatus);
        
    }
</script>

{% endblock %}
