{% extends "template.html" %}
{% block content %}

<!-- Content -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>$(function() {
    $( "#challan_date" ).datepicker({ dateFormat: 'yy-mm-dd' });
});
</script>
        <div class="content">
            <div class="animated fadeIn">
            	<form id="purchase-receipt-update-form" class="form-horizontal">
                	<div class="row">
                    	<div class="col-lg-12">
                        	<div class="card">
                            	<div class="card-header" id="card-header">
                            		
                                	<strong id="purchase_receipt" name="{{ data['transaction_number'] }}">Purchase Receipt</strong>
                            	</div>
                            	<div class="card-body card-block">                                    
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Truck Number</label></div>
                                        <div class="col-12 col-md-3"><p id="truck_numer" class="form-control-static">{% if data['details']['vehicle_number'] %} {{ data['details']['vehicle_number'] }} {% endif %}</p></div>
                                        <div class="col col-md-3"><label for="text-input" class="form-control-label">Challan Numer</label></div>
                                        <div class="col-12 col-md-3"><p id="chalan_number" class="form-control-static">{{ data['details']['challan_number'] }}</p></div>
                                    	<div class="col col-md-3"><label for="text-input" class=" form-control-label" for="challan_date">Chalan Date</label></div>
                                        <div class="col col-md-3 input-group"><p id="truck_numer" class="form-control-static">{{ data['details']['challan_date'] }}</p></div>
						                <div class="col col-md-3"><label for="text-input" class="form-control-label">Status</label></div>
                                        <div class="col-12 col-md-3"><p id="status" class="form-control-static">{{ data['details']['receipt_header_status'] }}</p></div>
                                    </div>
                                    <!-- <div class="row form-group">
                                        <div class="col col-md-2"><label for="text-input" class=" form-control-label">Buyer</label></div>
                                        <div class="col-12 col-md-2"><p class="form-control-static" id="buyer">{{ data['user'] }}</p></div>
                                    </div>
                                    </div> -->
                            	</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    	<div class="col-lg-12">
                        	<div class="card">
	                            <div class="card-header">
	                            	<div class="row form-group">
		                                <strong class="col col-md-6">Receipt Line Details</strong>
		                            </div>
	                            </div>
	                            <div class="card-body card-block">                                   
	                                    <div class="row form-group">
	                                    	<table class="table table-striped" id="purchase_receipt_line_add_table">
			                                    <thead>
			                                        <tr>
			                                          <th scope="col">#</th>
			                                          <th scope="col">Item</th>
			                                          <th scope="col">TR Number</th>
			                                          <th scope="col">Unloading Area</th>
								  					  <th scope="col">Quantity</th>
			                                          <th scope="col">Unit</th>
			                                          <th scope="col">Rate</th>
			                                          <th scope="col">Discount</th>
			                                          <th scope="col">Status</th>
			                                      	</tr>
			                                  </thead>
			                                  <tbody>
			                                  {% if data['details']['receipt_lines'] %} 
			                                  	{% for row in data['details']['receipt_lines'] %}
			                                  	<tr>
				                                  	<td><strong>{% if row['line_number'] %} {{ row['line_number'] }} {% endif %}</strong></td>
				                                  	<td>{% if row['item_id'] %} 
				                                  			{% for itm in data['item_list'] %}
					                                        		{% if row['item_id'] == itm['item_id'] %}
					                                                	{{ itm['description'] }}
					                                                {% endif %}
					                                            {% endfor %}
					                                        {% endif %}
													</td>
				                                  	<td>{% if row["weighing_number"] %} {{ row["weighing_number"] }} {% endif %}</td>
				                                  	<td>{% if row["load_unload_area"] %} {{ row["load_unload_area"] }} {% endif %}</td>
				                                  	<td>{% if row["quantity"] %} {{ row["quantity"] }} {% endif %}</td>
				                                  	<td>{% if row['unit_of_measure'] %} 
				                                  			{% for um in data['uom'] %}
					                                        		{% if row['unit_of_measure'] == um['lookup_code'] %}
					                                                	{{ um['meaning'] }}
					                                                {% endif %}
				                                            	{% endfor %}
				                                            {% endif %}
													</td>
				                                  	<td>{% if row["unit_price"] %} {{ row["unit_price"] }} {% endif %}</td>
				                                  	<td>{% if row["discount"] %} {{ row["discount"] }} {% endif %}</td>
				                                  	<td>{% if row['receipt_line_status'] %} 
				                                  			{% for status in data['po_receipt_statuses'] %}
					                                        		{% if row['receipt_line_status'] == status['lookup_code'] %}
					                                                	{{ status['meaning'] }}
					                                                {% endif %}
				                                            	{% endfor %}
				                                            {% endif %}
													</td>
												</tr>
			                                  	{% endfor %}
			                                  	{% endif %}
			                                  </tbody>
			                            	</table>
	                                    </div>
	                                    <div class="row form-group">
	                                        <div class="col col-md-4"><center><a href="/purchase/{{ data['transaction_number'] }}"><button type="button" class="btn btn-primary"><i class="fa fa-arrow-left"></i>&nbsp; Back {{ complete }}</button></a></center></div>
	                                        {% if data['details']['receipt_header_status'] == 'COMPLETE' %} <div class="col col-md-4"><center><a href="/purchase/{{ data['transaction_number'] }}"><button type="button" class="btn btn-warning"><i class="fa fa-print"></i>&nbsp; Receipt</button></a></center></div> {% endif %}
	                                        <div class="col col-md-4"><center><a href="/purchase/{{ data['transaction_number'] }}"><button type="button" class="btn btn-warning"><i class="fa fa-print"></i>&nbsp; Challan</button></a></center></div>
	                                	</div>
	                            	</div>
                        	</div>
                    	</div>
            		</div>
				</form>
        	</div><!-- .animated -->
    	<!-- .content -->

{% endblock %}
