{% extends "template.html" %}
{% block content %}

<!-- Content -->
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                <div class="ui-typography">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">                                        
                                        <div class="alert alert-danger" role="alert">
                                        	<div align="center"><font size="7"><i class="fa fa-ban"></i></font></div>
                                        	<h1 class="alert-heading" align="center"> &nbsp;&nbsp; ACCESS DENIED &nbsp;!!! &nbsp; </h1>
                                        	<h4>  &nbsp;&nbsp; </h4>
                                        	<hr>
                                        	<hr>
                                        	<h4>  &nbsp;&nbsp; </h4>
                                        	<h3 align="center">You do not have access to this page :-(</h3>
                                        	<h4>  &nbsp;&nbsp; </h4>
                                        	<h3 class="mb-0" align="center">Please contact your Administrator to get Access..</h3>
                                        	<h4>  &nbsp;&nbsp; </h4>
                                    	</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .animated -->
        </div>
        <!-- /.content -->
        
{% endblock %}
